{% extends 'base.html.twig' %}

{% block title %}Recherche Produits{% endblock %}

{% block body %}

</style>


</div>
    {% if user != null %}
        <h1>Hello {{ user.pseudo }}! </h1>
    {% else %}
        .
    {% endif %}


   {% if products is not empty %}
        {% for product in products %}
            <h3>Nom Produit : {{ product.name }} </h3> 
             <a href="{{ path('app_add_favorite', {'id': product.id, 'route': 'app_home_page'}) }}">
            <button>Ajouter en favoris</button>
            </a>
            {% if is_granted('ROLE_ADMIN') %}
            <a href="{{ path('app_delete_product', {'id': product.id }) }}">
                    <button>Supprimer</button>
                </a>
            {% endif %}
        {% endfor %}
    {% else %}
        <p>Aucun produit.</p>
    {% endif %}

</div>
{% endblock %}
