{% extends 'base.html.twig' %}

{% block title %}Vos chats{% endblock %}

{% block body %}

    {% for chat in chats %}
      <a href="{{ path('view_chat', {'id': chat.id }) }}">
        <button>Accéder au chat {{chat.id}}</button>
    </a>
    {% endfor %}
{% endblock %}
