body {
  background-color: white;
}

.product_box {
  margin-top: 32px;
  display: flex;
  flex-direction: row;
  width: screen;
  justify-content: center;
}

.product_content_box {
  background-color: gainsboro;
  display: flex;
  flex-direction: column;
  width: 30%;
  padding: 32px;
  border-radius: 50px;
}

.product_image {
  border-radius: 50px;
  margin-right: 64px;
}

.wrap-bouton {
  margin: 1em auto;
  max-width: 900px;
  width: 95%;
  font: 14px/1.5 sans-serif;
}
.bouton-category {
  display: inline-block;
  margin: 0.5em;
  padding: 0.7em 1.5em;
  background-color: white;
  color: #333;
  text-decoration: none;
}
.bouton-category:hover {
  color: #ddd;
}
