{% extends 'base.html.twig' %}

{% block title %}Création d'un produit{% endblock %}

{% block body %}
    <h1>Création d'un produit</h1>
    
    {{ form(form) }}

    <button>Annuler</button>

{% endblock %}

